
@font-face {
    font-family: nintendo;
    src: url(prstart.ttf);
}



@font-face {
    font-family: nintendoBold;
    src: url(nintendoBold.otf);
}

@font-face {
    font-family: nintendoItalic;
    src: url(brand.ttf);
}
